.social-network {
  margin-top: 60px;
}

.social-network span {
  margin: 0 3px;
}

.social-network span a {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  background-color: rgba(217, 15, 136, 1);
  color: #fff;
  font-size: 14px;
  transition: all 0.5s;
}

.social-network span a:hover {
  background-color: #fff;
  color: #a43f49;
}

#toTopBtn {
  position: fixed;
  bottom: 56px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color: hsla(5, 76%, 62%, 0.8);
}

.js .cd-top--fade-out {
  opacity: 0.5;
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg)
    no-repeat center 50%;
  background-color: hsla(5, 76%, 62%, 0.8);
  background-color: hsla(
    var(--cd-color-3-h),
    var(--cd-color-3-s),
    var(--cd-color-3-l),
    0.8
  );
}

.required-field::before {
  content: "*";
  color: red;
  float: right;
}

/*============CSS FOR CAROUSEL*/

.required-field::before {
  content: "*";
  color: red;
  float: right;
}
